<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block bootstrap_header %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/sticky-footer-navbar/">
    {% endblock bootstrap_header %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/sticky-footer-navbar.css" %}">
    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-secondary ">
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link text-white" href="{% url 'index' %}"><h5>Home</h5></a>
            </li>
             <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'course:course-list' %}">Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'index' %}">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'index' %}">Contact</a>
            </li>
        </ul>
        <span class="navbar-text">
            {% if user.is_authenticated %}
                <a class="nav-link text-white" href="{% url 'profile-create' %}">Profile<span class="sr-only">(current)</span></a>
                <a class="nav-link text-white" href="{% url 'logout' %}">Log out<span class="sr-only">(current)</span></a>
            {% else %}
                <a class="nav-link text-white" href="{% url 'login' %}">Log in<span class="sr-only">(current)</span></a>
            {% endif %}
        </span>
    </div>

</nav>
<div class="d-flex align-items-center justify-content-center p-3 mb-2 bg-light block-content">
    {% block content %}
    {% endblock content %}
</div>
</body>
<footer class="footer">
  <div class="container">
    <p class="text-muted">SmartClass create by django</p>
  </div>
</footer>
