{% extends 'base.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
    <div class="form-signin">
        <form  action="" method="post">
            <h1 class="h3 mb-3 font-weight-normal text-center">Вход</h1>

            {% if form.errors %}
                {% for field, error in form.errors.items %}
                    <div class="alert alert-danger" role="alert">
                        <b>{{ field }}</b> {{ error }}
                    </div>
                {% endfor %}
            {% endif %}

            {% csrf_token %}
            <label for="inputEmail" class="sr-only">User Name</label>
            <input name="username" id="inputEmail" class="form-control" placeholder="User Name" required autofocus>
            <label for="inputPassword" class="sr-only">Пароль</label>
            <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Пароль" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Вход</button>
        </form>
        <a href="{% url 'register' %}"> <button class="btn" type="submit">Регистрация</button></a>
    </div>

{% endblock %}




