{% extends "base.html" %}
{% block content %}
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_ul }}
            <input type="submit" value="Сохранить профиль">
        </form>
    </div>
{% endblock %}

