{% extends 'base.html' %}
{% block content %}
<div class="main-content">
    <div class="col-lg-4">
        <a href="#">
            <img width="400"
                 src="{{ object.image.url }}" alt="" class="fit">
        </a>
    </div>
    <div>
        <h1>{{object.title}}</h1>
        <p>{{ object.description }}</p>
    </div>
</div>
{% endblock %}