{% extends 'base.html' %}
{% block content %}
    {% for course in object_list %}
        <div class="gallery">
            <a href="/course/{{ course.pk }}">
                <img src="{{ course.image.url }}" width="600" height="400">
                <div class="desc">{{ course.title }}</div>
            </a>
        </div>
    {% endfor %}
{% endblock %}